<div class="container-center">
  <div class="container-center">
    <p id="rm-description">
      Looking for ideas to spice up your kitchen menu? Or maybe you want to use
      up an ingredient in your fridge or pantry before it goes bad. Look no
      further the Recipe Master is here to help! Create a profile and share your
      favorite recipes! Search by keyword or click on a category to browse
      recipes.
    </p>
    <form class="search-bar" id="searchForm">
      <label for="recipeInput">Search Keywords</label>
      <input type="text" id="recipeInput" placeholder="Enter a recipe name" />
      <button type="submit">Search</button>
    </form>
  </div>
  <div id="recipeContainer">
    OR click here to see all recipes
    <a href="/api/recipes">See All Recipes</a>
  </div>
  <section class="categories">
    <h3>Categories:</h3>
    <div class="grid-item">
      <img src="/images/breakfast.jpg" alt="breakfast img" />
      <a href="/api/categories/breakfast">Breakfast</a>
    </div>
    <div class="grid-item">
      <img src="/images/brunch.jpg" alt="brunch img" />
      <a href="/api/category/brunch">Brunch</a>
    </div>
    <div class="grid-item">
      <img src="/images/dinner.jpg" alt="dinner img" />
      <a href="/api/category/lunch">Lunch</a>
    </div>
    <div class="grid-item">
      <img src="/images/salad.jpg" alt="salad img" />
      <a href="/api/categories/salad">Salad</a>
    </div>
    <div class="grid-item">
      <img src="/images/burger.jpg" alt="burger img" />
      <a href="/api/categories/burgers">Burgers</a>

    </div>
    <div class="grid-item">
      <img src="/images/dessert.jpg" alt="dessert img" />
      <a href="/api/categories/dessert">Dessert</a>
    </div>
    <div class="grid-item">
      <img src="/images/pizza.jpg" alt="pizza img" />
      <a href="/api/categories/pizza">Pizza</a>
    </div>
    <div class="grid-item">
      <img src="/images/seafood.jpg" alt="seafood img" />
      <a href="/api/categories/seafood">Seafood</a>

    </div>
  </section>
</div>
<script src="/js/api.js"></script>