<div>
  <p>
    Looking for ideas to spice up your kitchen menu? Or maybe you want to use up
    an ingredient in your fridge or pantry before it goes bad. Look no further
    the Recipe Master is here to help! Search by keyword or click on a category
    to browse recipes.
  </p>
  <form class="search-bar">
    <label for="search">Search Keywords</label>
    <input type="text" id="recipeInput" placeholder="Enter a recipe name" />
    <button type="submit">Search</button>
  </form>
  <div id="recipeContainer"></div>

  <section>
    <div>
      <img src="/public/images/breakfast.jpg" alt="breakfast img" />
      <a href="category.handlebars">Breakfast</a>
    </div>
    <div>
      <img src="/public/images/brunch.jpg" alt="brunch img" />
      <a href="category.handlebars">Brunch</a>
    </div>
    <div>
      <img src="/public/images/lunch.jpg" alt="lunch img" />
      <a href="category.handlebars">Lunch</a>
    </div>
    <div>
      <img src="/public/images/dinner.jpg" alt="dinner img" />
      <a href="category.handlebars">Dinner</a>
    </div>
    <div>
      <img src="/public/images/salad.jpg" alt="salad img" />
      <a href="category.handlebars">Salad</a>
    </div>
    <div>
      <img src="/public/images/burger.jpg" alt="burger img" />
      <a href="category.handlebars">Burgers</a>
    </div>
    <div>
      <img src="/public/images/dessert.jpg" alt="dessert img" />
      <a href="category.handlebars">Dessert</a>
    </div>
    <div>
      <img src="/public/images/pizza.jpg" alt="pizza img" />
      <a href="category.handlebars">Pizza</a>
    </div>
    <div>
      <img src="/public/images/seafood.jpg" alt="seafood img" />
      <a href="category.handlebars">Seafood</a>
    </div>
  </section>
</div>