<div>
  <p>
    Looking for ideas to spice up your kitchen menu? Or maybe you want to use up
    an ingredient in your fridge or pantry before it goes bad. Look no further
    the Recipe Master is here to help! Search by keyword or click on a category
    to browse recipes.
  </p>

  <form id="searchForm">
    <label for="recipeInput">Search Recipe by Keywords</label>
    <input type="text" id="recipeInput" placeholder="Enter a recipe name" />
    <button type="submit">Search</button>
  </form>
  <div id="recipeContainer">
    Or click here to see all recipes

    <a href="/api/recipes">See All Recipes</a>
  </div>

  <section>
    <h3>Categories:</h3>
    <div>
      <img src="/images/breakfast.jpg" alt="breakfast img" />
      <a href="category.handlebars">Breakfast</a>
    </div>
    <div>
      <img src="/images/brunch.jpg" alt="brunch img" />
      <a href="category.handlebars">Brunch</a>
    </div>
    <div>
      <img src="/images/lunch.jpg" alt="lunch img" />
      <a href="category.handlebars">Lunch</a>
    </div>
    <div>
      <img src="/images/dinner.jpg" alt="dinner img" />
      <a href="category.handlebars">Dinner</a>
    </div>
    <div>
      <img src="/images/salad.jpg" alt="salad img" />
      <a href="category.handlebars">Salad</a>
    </div>
    <div>
      <img src="/images/burger.jpg" alt="burger img" />
      <a href="category.handlebars">Burgers</a>
    </div>
    <div>
      <img src="/images/dessert.jpg" alt="dessert img" />
      <a href="category.handlebars">Dessert</a>
    </div>
    <div>
      <img src="/images/pizza.jpg" alt="pizza img" />
      <a href="category.handlebars">Pizza</a>
    </div>
    <div>
      <img src="images/seafood.jpg" alt="seafood img" />
      <a href="category.handlebars">Seafood</a>
    </div>
  </section>
</div>
<script src="/js/api.js"></script>