<div class="recipe">
  <div class="recipe-top">
    <h2>{{name}}</h2>
    <div>{{image}}</div>
  </div>
  <section class="recipe-info">
    <div class="recipe-ingredients">
      <h3>Ingredients</h3>
      <ul>
        {{ingredients}}
      </ul>
    </div>
    <div class="recipe-directions">
      <h3>Directions</h3>
      <ul>
        {{directions}}
      </ul>
    </div>
  </section>
</div>