body {
  display: flexbox;
  background-color: #ff3131;
  flex-flow: column wrap;

}

header {
  display: flexbox;
  border-bottom: solid black 4px;
  width: 100%;
  flex-flow: row wrap;
  width: 90%;
  align-self: center;
  justify-self:flex-start;
  max-height: 200px;
  
}

header, img {
  display: flexbox;
  
}

h1 {
  display: flexbox;
  font-size: 450%;
  font-family: cursive;
}

nav {
  display: flex;
  flex-flow: column wrap;
  margin-right: 20px;
  height:150px;
  justify-content: space-evenly;

}

a {
  display: flex;
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-content:space-evenly ;
  flex-grow: 1;
}

#body {
  display: flexbox;
  flex-grow: 1;
  min-height: 100vh;
}

#rm-description {
  max-width: 50%;
  display: flex;
  text-align: center;
}

.container {
  display: flex;
}

.container-center {
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  max-width: 40%;
}

.categories {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: auto;
  min-width: 60%;
  box-sizing: border-box;
  max-height: 600px;
  margin-top: 40px;

}

.grid-item {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  
}

.recipe-info {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 70%;
}

.recipe {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 60%;
  height: 100%;
}